
.cast-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px 8px;
  margin: 0 2.5%;
  justify-content: space-around;
}

.cast-element{
  display: flex;
  flex-direction: column;
  width: 240px;
  border: 1px solid lightgray;
  background-color: white;
  color: black;
}

.actor-img{
  min-width: 160px;
  min-height: 132px;
}

.actor-name{
  padding: 8px 4px;
  text-align: center;
}

@media screen and (max-width: 600px){
  .cast-element{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    min-width: 96px;
    max-width: 160px;
    border: 1px solid lightgray;
  }
  
  .actor-img{
    min-width: 80px;
    max-width: 160px;
    min-height: 132px;
  }
}